body {
    position: relative; 
}

.header {
 overflow: hidden;
 position: fixed;}


#section1 {padding-top:50px;height:800px;color: #fff; }
#section2 {padding-top:50px;height:500px;color: black; }
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

#section1  {background-image: url("../img/fon.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center center;
background-color:#464646;}


.main {
text-align: center;
margin-top: 15%;
  color: #fff;
  font-size: 4rem;
  text-shadow: 1px 1px 5px #363434;
}

.flexcontainer {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: auto auto auto auto 900px;
}

.box
{
  width: 400px;
  height: auto;
margin-left:300px;}

.box5
{
  width: 800px;
  height: auto;
margin-left:300px;
text-align: center;}



@media only screen and (max-width: 767px) {

#section1 {
   background-image: url("../img/fonmob.jpg");
   height:500px;
   background-attachment: scroll;
   background-size:  auto 100%;
  }
	}
  
 

