body {
  position: relative; 
  font-family: "Roboto", sans-serif;
  max-width: 1366px;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.header {
  /* overflow: hidden; */
  position: fixed;
  width: 100%;
  background-color: #edeef0;
}
.header__motto {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
}

.nav__menu {
  display: flex;
  justify-content: space-between;

}

.nav__menu__item a{
  font-weight: bold;
  font-size: 16px;
  color: #2484a8;
}


#section1 {padding-top:100px;height:800px;color: #fff; }
#section2 {padding-top:100px;/* height:500px; */}
#section3 {padding-top:100px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:100px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:100px;height:500px;color: #fff; background-color: #009688;}

#section1 {
  background-image: url("../img/fon.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center center;
  background-color:#464646;
}

.main {
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: 4rem;
/*   font-family: "Roboto",sans-serif; */
  text-shadow: 1px 1px 5px #363434;
}

h1 {
/*   font-family: "Roboto",sans-serif; */
  color: #2484a8;
}

/* p {
  font-family: "Roboto",sans-serif;
} */

.flexcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-between;
	flex-basis: auto auto auto auto 900px;
}

.box {
  width: 400px;
  height: auto;
  margin-left:200px;
}

.box5 {
  width: 900px;
  height: auto;
  margin-left:350px;
  text-align: center;
}


@media only screen and (max-width: 767px) {

  #section1 {
    background-image: url("../img/fonmob.jpg");
    height:500px;
    background-attachment: scroll;
    background-size:  auto 100%;
  }
}
  
 

